*{
    margin: 0;
    padding: 0;
} 
.container{
    margin: auto;
    height: 18vh;
    background-color:  #0a499b; 
}
.logo{
    width: 26%;
    margin-left: 300px;
    display: flex;
}
.logo img{
    width: 35%;
    margin-top: 10px;
    display: flex;
}
.comment{
    color: white;
    margin: -120px 500px;
    display: flex;
    flex-direction: column;
}
a{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    padding: 5px;
}
.content{
    background-image: url(./img/h.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-top: 6px;
    position: relative;    
}  
.image{
    position: absolute;
    top: 15px;
    left: 460px;
    font-size: 18px;
}
.image i{
    font-size: 4.5rem;
    color: rgb(80, 71, 167);
    
}
.ico{
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #ffffff;
    margin-top: 20px;
    align-items: center;

}
.image a{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(238, 36, 36);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;   
    transition: 0.5 all;
}
.image i:hover{
    animation: heartbeat 1s infinite;
}
@keyframes heartbeat{
    0%{
        transform: scale(0.5);
    }
    14%{
        transform: scale(1);
    }
    28%{
        transform: scale(0.5);
    }
    42%{
        transform: scale(1);
    }
    70%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
.im{
    position: absolute;
    top: 8px;
    right: 440px;
    font-size: 18px;
}
.im a{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(238, 36, 36);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;     
}
.im i{
    font-size: 4.5rem;
    color: rgb(80, 71, 167);

   
}
.im i:hover{
    animation: heartbeat 1.5s infinite;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
.c{
    position: absolute;
    top: 33%;
    left: 48%;
    font-size: 18px;
}
.c a{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(238, 36, 36);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;   
}
.c i{
    font-size: 5rem;
    color: rgb(80, 71, 167);
}
.c i:hover{
    animation: heartbeat 1.5s infinite;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
.ic{
    position: absolute;
    bottom: 8px;
    left: 460px;
    font-size: 18px;
}
.ic a{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(238, 36, 36);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;   
}
.ico{
    border: 3px ridge white;
    padding: 30px 30px;
    align-items: center;

}
.ic i{
    font-size: 4.5rem;
    color: rgb(80, 71, 167);
}
.ico i:hover{
    animation: heartbeat 1.5s infinite;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

.icon{
    position: absolute;
    bottom: 8px;
    right: 420px;
    font-size: 18px;

}
.icon i{
    font-size: 4.5rem;
    color: rgb(80, 71, 167);
        
}
.ico{
    border: 3px ridge white;
    padding: 30px 30px;
    align-items: center;

}
.icon a{
    display: flex;
    flex-direction: column-reverse;
    color: rgb(238, 36, 36);
    font-weight: bold;
    font-size: larger;
    text-align: center;
    text-decoration: none;   
}
.icon i:hover{
    animation: heartbeat 1.5s infinite;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}
.box{
    height: 13vh;
    background-color:  #053b82; 
    display: flex;
    justify-content: center;
}
.box h4{
    display: flex;
    align-items: center;
    color: white;
    font-weight: lighter;
}
